*{
    margin: 0;
}

.GridWrapper_Home {

    width: auto;
    display: grid;
    height: auto;
   grid-template-areas:

   "heH heH heH heH heH heH"
   "s0H s0H s0H s0H s0H s0H"
   "s1H s1H s1H s5H s5H s5H"
   "s2H s2H s2H s6H s6H s6H"
   "s3H s3H s3H s7H s7H s7H"
   "s4H s4H s4H s8H s8H s8H"
   "f1H f1H f2H f2H f3H f3H"
;
grid-template-rows: 10vh 200px 500px 500px 500px 500px 200px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 0px;

}

.header_Home {
    grid-area: heH;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    list-style: none;


        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10vh;
        background-color: rgb(41, 27, 11);
        font-family: sans-serif;
    }
    #logga_img {
        display: flex;
        justify-content: space-around;
        width: 7vw;
        height: 7vh;
        align-items: center;
        border-radius: 20%;
        margin-bottom: 10px;


    }
    
    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color:rgb(41, 27, 11);
        position: absolute;
        right: 0;
        top: -90vh;
        width: 180px;
        list-style: none;
        transition: all 1s;
    }
    
    .nav-active {
        transform: translateY(100vh);
    }
    
    #nav-links a {
        text-decoration: bisque;
        color: bisque;
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 180px;
        height: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
       
    
    }
    
    #nav-links a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transition: ease 0.4s;
    }
    
    .burger_line {
        width: 45px;
        justify-content: space-around;
        height: 6.5px;
        background-color: bisque;
        margin: 7px;
        margin-bottom: 15%;
        border-radius: 20%;
        transition: all 1s;
    }
    
    .crossed_line #line_2 {
        transform: rotate(90deg) translate(-5px, -6px);
        
    }
    
    .crossed_line #line_1 {
        transform: rotate(120deg) translate(10px, 0px);
    }
    
 
    
    #burger {
        margin-right: 62px;
        cursor: pointer;

    }


#link_list {
    grid-area: liH;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    position: relative;
    top: -60px;


}

.footer_1_Home {
    width: 100%;
    height: 200px;
    grid-area: f1H;
    background-size: 100px;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: sans-serif;

}

.footer_2_Home {
    width: 100%;
    height: 200px;
    grid-area: f2H;
    background-size: 100px;
    background: rgb(112, 109, 109);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #logga_fo_img {
        display: flex;
        justify-content: space-around;
        width: 15vw;
        height: 15vh;
        align-items: center;
        flex-direction: column;
        border-radius: 20%;

    }

.footer_3_Home {
    width: 100%;
    height: 100%;
    grid-area: f3H;
    background-size: 100px;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: bisque;
    font-family: sans-serif;

}
.section_0_Home {
    width: 100px;
    height: 100px;
    grid-area: s0H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    #bokhylla_img{
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 380%;
        align-items: center;
        z-index: -2;
    }

    #title_0_home {
        display: flex;
        justify-content: center;
        margin-left: 1100%;
        font-family: sans-serif;
        font-weight: 10;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        margin-top: 70px;
        color:white;
        list-style: none;

    }
.section_1_Home {
    width: 100%;
    height: 100%;
    grid-area: s1H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
    #PJO_nyhet_img{
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 270px;
        height: 400px;
        align-items: center;
        border-radius: 1%;
        border: black;
    }

.section_2_Home {
    width: 100%;
    height: 100%;
    grid-area: s2H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    #hearstopper_nyhet_img {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 270px;
        height: 400px;
        align-items: center;
        border-radius: 1%;
    }

.section_3_Home {
    width: 100%;
    grid-area: s3H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  #Grishaverse_nyhet_img {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 270px;
        height: 400px;
        align-items: center;
        border-radius: 1%;
    }
.section_4_Home {
    width: 100%;
    grid-area: s4H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  #RingsOfPower_nyhet_img {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 270px;
        height: 400px;
        align-items: center;
        border-radius: 1%;
    }

.section_5_Home {
    width: 100%;
    height: 100%;
    grid-area: s5H;
    background-size: 100%;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: -1;
    
}
    #title_1_home{
        text-decoration: snow;
        color: rgb(255, 255, 255);
        letter-spacing: 0rem;
        font-weight: bold;
        font-size: 1.9rem;
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 5%;
        list-style: none;

    }
    .paragraph_1_Home { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        font-family: sans-serif;
        text-decoration: snow;
        color: rgb(255, 255, 255);
        
    }

.section_6_Home {
    width: 100%;
    height: 100%;
    grid-area: s6H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
    #title_2_home{
        text-decoration: snow;
        color: rgb(255, 255, 255);
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.9rem;
        position: absolute;
        top: 5%;
        left: 0;
        list-style: none;

    }
    .paragraph_2_Home { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        font-family: sans-serif;
        text-decoration: snow;
        color: rgb(255, 255, 255);
        margin-top: 70px;
    }

.section_7_Home {
    width: 100%;
    height: 100%;
    grid-area: s7H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
    #title_3_home{
        text-decoration: snow;
        color: rgb(255, 255, 255);
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.9rem;
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 5%;
        list-style: none;
    }
    .paragraph_3_Home { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        font-family: sans-serif;
        text-decoration: snow;
        color: rgb(255, 255, 255);
    }

.section_8_Home {
    width: 100%;
    height: 100%;
    grid-area: s8H;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
    #title_4_home{
        text-decoration: snow;
        color: rgb(255, 255, 255);
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.9rem;
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 5%;
        list-style: none;
    }
    .paragraph_4_Home { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        font-family: sans-serif;
        text-decoration: snow;
        color: rgb(255, 255, 255);
    }


.GridWrapper_Recs {

    width: auto;
    display: grid;
    height: auto;
   grid-template-areas:

   "heR heR heR heR heR heR"
   "s0R s0R s0R s0R s0R s0R"
   "s1R s1R s1R s1R s1R s1R"
   "s2R s2R s2R s2R s2R s2R"
   "s3R s3R s3R s3R s3R s3R"
   "s4R s4R s4R s4R s4R s4R"
   "s5R s5R s5R s5R s5R s5R"
   "s6R s6R s6R s6R s6R s6R"
   "s7R s7R s7R s7R s7R s7R"
   "s8R s8R s8R s8R s8R s8R"
   "f1R f1R f2R f2R f3R f3R"
;
grid-template-rows: 10vh 350px 350px 350px 350px 350px 350px 350px 350px 350px 200px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-row-gap: 5p;
}

.header_Recs {
    grid-area: heR;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    z-index: 2;


        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10vh;
        background-color: rgb(41, 27, 11);
        font-family: sans-serif;
    }
    #logga_img {
        display: flex;
        justify-content: space-around;
        width: 7vw;
        height: 7vh;
        align-items: center;
        border-radius: 20%;
        margin-bottom: 10px;


    }
    
    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color:rgb(41, 27, 11);
        position: absolute;
        right: 0;
        top: -90vh;
        width: 180px;
        list-style: none;
        transition: all 1s;
    }
    
    .nav-active {
        transform: translateY(100vh);
    }
    
    #nav-links a {
        text-decoration: bisque;
        color: bisque;
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 180px;
        height: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
       
    
    }
    
    #nav-links a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transition: ease 0.4s;
    }
    
    .burger_line {
        width: 45px;
        justify-content: space-around;
        height: 6.5px;
        background-color: bisque;
        margin: 7px;
        margin-bottom: 15%;
        border-radius: 20%;
        transition: all 1s;
    } 
    
    .crossed_line #line_2 {
        transform: rotate(90deg) translate(-5px, -6px);
        
    }
    
    .crossed_line #line_1 {
        transform: rotate(120deg) translate(10px, 0px);
    }
    
 
    
    #burger {
        margin-right: 62px;
        cursor: pointer;

    }


.footer_1_Recs {
    width: 100%;
    height: 200px;
    grid-area: f1R;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;

}

.footer_2_Recs {
    width: 100%;
    height: 200px;
    grid-area: f2R;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_3_Recs {
    width: 100%;
    height: 200px;
    grid-area: f3R;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: bisque;

}
.section_0_Recs {
    grid-area: s0R;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;
    color: black;
    list-style: none;
    text-decoration: none;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color:black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: brown;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: burlywood;
        background-color: transparent;
        text-decoration: underline;
      }

      
    #Bookcase_link_img {
        position: absolute;
        display: flex;
        justify-content: space-around;
        height: 200%;
        width: 100%;
        align-items: center;
        z-index: -1;
        top: -50%;
        background: whitesmoke;
    }

.section_1_Recs {
    width: 100%;
    height: 100%;
    grid-area: s1R;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
    
}
    #new_releases {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
        
    }
    
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-content: center; 
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
      }
      
      div.scrollmenu img {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        height: 200px;
        width: 135px;
        margin-left: 10px;
        margin-right: 10px;
      }
      
      div.scrollmenu img:hover {
        background-color: rgb(252, 208, 156);
      }

    ::-webkit-scrollbar {
    width: 10px;
    background: bisque;
    border-radius: 0px;
  }

   ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(252, 208, 156);
    width: 20px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(252, 208, 156);
    border-radius: 0px;

  }

.section_2_Recs {
    width: 100%;
    height: 100%;
    grid-area: s2R;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #contemporary {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
        
    }

.section_3_Recs {
    width: 100%;
    height: 100%;
    grid-area: s3R;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #queer_lit {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.section_4_Recs {
    width: 100%;
    height: 100%;
    grid-area: s4R;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #fantasy {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.section_5_Recs {
    width: 100%;
    height: 100%;
    grid-area: s5R;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #sci-fi {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.section_6_Recs {
    width: 100%;
    height: 100%;
    grid-area: s6R;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #Horror {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.section_7_Recs {
    width: 100%;
    height: 100%;
    grid-area: s7R;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #YA {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.section_8_Recs {
    width: 100%;
    height: 100%;
    grid-area: s8R;
    display: flex;
    justify-content: center;
    position: relative;
    background: whitesmoke;
    flex-direction: column;
    font-family: sans-serif;
}

    #middlegrade {
        font-size: 1.2rem ;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        top: -20px;
    }

.GridWrapper_about {
    width: auto;
    display: grid;
    height: auto;
   grid-template-areas:

   "hea hea hea"
   "s1a s1a s1a"
   "s2a s2a s2a"
   "s3a s3a s3a"
   "s4a s4a s4a"
   "s5a s5a s5a"
   "s6a s6a s6a"
   "f1a f2a f3a"
;
grid-template-rows: 10vh 200px 650px 200px 600px 200px 600px 200px;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 0px;

}
.header_about {
    grid-area: hea;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    z-index: 2;


        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10vh;
        background-color: rgb(41, 27, 11);
        font-family: sans-serif;
    }
    #logga_img {
        display: flex;
        justify-content: space-around;
        width: 7vw;
        height: 7vh;
        align-items: center;
        border-radius: 20%;
        margin-bottom: 10px;


    }
    
    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color:rgb(41, 27, 11);
        position: absolute;
        right: 0;
        top: -90vh;
        width: 180px;
        list-style: none;
        transition: all 1s;
    }
    
    .nav-active {
        transform: translateY(100vh);
    }
    
    #nav-links a {
        text-decoration: bisque;
        color: bisque;
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 180px;
        height: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
       
    
    }
    
    #nav-links a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transition: ease 0.4s;
    }
    
    .burger_line {
        width: 45px;
        justify-content: space-around;
        height: 6.5px;
        background-color: bisque;
        margin: 7px;
        margin-bottom: 15%;
        border-radius: 20%;
        transition: all 1s;
    } 
    
    .crossed_line #line_2 {
        transform: rotate(90deg) translate(-5px, -6px);
        
    }
    
    .crossed_line #line_1 {
        transform: rotate(120deg) translate(10px, 0px);
    }
    
 
    
    #burger {
        margin-right: 62px;
        cursor: pointer;

    }


.footer_1_about {
    width: 100%;
    height: 200px;
    grid-area: f1a;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;

}

.footer_2_about {
    width: 100%;
    height: 200px;
    grid-area: f2a;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_3_about {
    width: 100%;
    height: 200px;
    grid-area: f3a;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: bisque;

}
.section_1_about {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: s1a;
    background-size: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    background: bisque;
    flex-direction: column;
    font-family: sans-serif;
}
    #title_1_about{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        text-decoration: black;
        color: black;
        letter-spacing: 0rem;
        font-weight: normal;
        font-size: 1.9rem;
        top: 5%;
        left: -1%;
        list-style: none;

    }

    #about_img {
        justify-content: center;
        align-content: center;
        align-items: center;
        position: absolute;
        height: 75%;
        width: 25%;
        z-index: 1;
        top: 70%;
        background: whitesmoke;
        flex-direction: column;
    }

    
.section_2_about {
    width: 100%;
    height: 100%;
    grid-area: s2a;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    background: snow;
    flex-direction: column;
    font-family: sans-serif;
    top: 5%;
    
}
    .paragraph_1_about { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 40%;
        font-family: sans-serif;
        text-decoration: black;
        color: black;
        background-color: bisque;
        padding: 2%;
        overflow: auto;
    }

.section_3_about {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: s3a;
    background-size: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    background: bisque;
    flex-direction: column;
    font-family: sans-serif;
}

    #title_2_about{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        text-decoration: black;
        color: black;
        letter-spacing: 0rem;
        font-weight: normal;
        font-size: 1.9rem;
        top: -3%;
        left: -1%;
        list-style: none;

    }

    #wwd_img {
        justify-content: center;
        align-content: center;
        align-items: center;
        position: absolute;
        height: 70%;
        width: 20%;
        z-index: 1;
        top: 60%;
        background: whitesmoke;
        flex-direction: column;
    }

.section_4_about {
    width: 100%;
    height: 100%;
    grid-area: s4a;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    background: white;
    flex-direction: column;
    font-family: sans-serif;
    top: 5%;
}
    .paragraph_2_about { 
        font-size: 0.9rem ;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 40%;
        font-family: sans-serif;
        text-decoration: black;
        color: black;
        background-color: bisque;
        padding: 2%;
    }

    .section_5_about {
        display: flex;
        width: 100%;
        height: 100%;
        grid-area: s5a;
        background-size: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        background: bisque;
        flex-direction: column;
        font-family: sans-serif;
    }
    
        #title_3_about{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            text-decoration: black;
            color: black;
            letter-spacing: 0rem;
            font-weight: normal;
            font-size: 1.9rem;
            top: -3%;
            left: -1%;
            list-style: none;
    
        }
    
        #our_story_img {
            justify-content: center;
            align-content: center;
            align-items: center;
            position: absolute;
            height: 70%;
            width: 20%;
            z-index: 1;
            top: 60%;
            background: whitesmoke;
            flex-direction: column;
        }
        .section_6_about {
            width: 100%;
            height: 100%;
            grid-area: s6a;
            background-size: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            background: white;
            flex-direction: column;
            font-family: sans-serif;
            top: 5%;
            bottom: 1%;
        }
            .paragraph_3_about { 
                font-size: 0.9rem ;
                letter-spacing: 0.1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
                width: 40%;
                font-family: sans-serif;
                text-decoration: black;
                color: black;
                background-color: bisque;
                padding: 2%;
            }

.GridWrapper_contact {
    width: auto;
    display: grid;
    height: auto;
   grid-template-areas:

   "hec hec hec"
   "s2c s1c s1c"
   "f1c f2c f3c"
;
grid-template-rows: 10vh 650px 200px;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 0px;

}

.header_contact {
    grid-area: hec;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    z-index: 2;


        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 10vh;
        background-color: rgb(41, 27, 11);
        font-family: sans-serif;
    }
    #logga_img {
        display: flex;
        justify-content: space-around;
        width: 7vw;
        height: 7vh;
        align-items: center;
        border-radius: 20%;
        margin-bottom: 10px;


    }
    
    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color:rgb(41, 27, 11);
        position: absolute;
        right: 0;
        top: -90vh;
        width: 180px;
        list-style: none;
        transition: all 1s;
    }
    
    .nav-active {
        transform: translateY(100vh);
    }
    
    #nav-links a {
        text-decoration: bisque;
        color: bisque;
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 180px;
        height: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
       
    
    }
    
    #nav-links a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transition: ease 0.4s;
    }
    
    .burger_line {
        width: 45px;
        justify-content: space-around;
        height: 6.5px;
        background-color: bisque;
        margin: 7px;
        margin-bottom: 15%;
        border-radius: 20%;
        transition: all 1s;
    } 
    
    .crossed_line #line_2 {
        transform: rotate(90deg) translate(-5px, -6px);
        
    }
    
    .crossed_line #line_1 {
        transform: rotate(120deg) translate(10px, 0px);
    }
    
 
    
    #burger {
        margin-right: 62px;
        cursor: pointer;

    }


.footer_1_contact {
    width: 100%;
    height: 200px;
    grid-area: f1c;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;

}

.footer_2_contact {
    width: 100%;
    height: 200px;
    grid-area: f2c;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_3_contact {
    width: 100%;
    height: 200px;
    grid-area: f3c;
    background-size: 100%;
    background: rgb(112, 109, 109);
    z-index: 1;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: bisque;

}

.section_1_contact {
    width: 100%;
    height: 100%;
    grid-area: s1c;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
    #title_1_contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: black;
        color: black;
        letter-spacing: 0rem;
        font-weight: normal;
        font-size: 1.9rem;
        list-style: none;
        background-color: bisque;
        padding-top: 2%;
        padding-bottom: 2%;
        top: 40%;
    }
    #map {
        display: flex;
        justify-content: center;
        align-content: space-around;
    }

.section_2_contact{
    width: 90%;
    height: 90%;
    grid-area: s2c;
    background: rgb(207, 207, 207);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    background-size: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    color: black;
}
.section_3_contact {
    width: 100%;
    height: 100%;
    grid-area: s3c;
    background: white;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
