*{
    margin: 0;
}
.GridWrapper_Home {

    width: 100vw;
    display: grid;
    height: 100vh;
   grid-template-areas:

   "heH heH heH heH"
   "liH liH liH liH"
   "s1H s1H s1H s1H"
   "s2H s2H s2H s2H"
   "s3H s3H s3H s3H"
   "foH foH foH foH"
;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1, 1, 1, 1, 1;
grid-gap: 0px;


}

.header_Home {
    grid-area: heH;
    width: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    list-style: none;


        display: flex;
        justify-content: space-between ;
        align-items: flex-end;
        height: 10vh;
        background-color: rgb(83, 46, 3);
        font-family: sans-serif;
    }
    #logga_img {
        display: flex;
        justify-content: space-around;
        width: 110px;
        height: 10vh;
        align-items: center;
        border-radius: 20%;


    }
    
    #nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color:rgb(83, 46, 3);
        position: absolute;
        right: 0px;
        top: -90vh;
        width: 180px;
        list-style: none;
        transition: all 0.5s;
    }
    
    .nav-active {
        transform: translateY(100vh);
    }
    
    #nav-links a {
        text-decoration: snow;
        color: rgb(255, 255, 255);
        letter-spacing: 0.4rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 180px;
        height: 4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }
    
    #nav-links a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transition: ease 0.4s;
    }
    
    .burger_line {
        width: 50px;
        justify-content: space-around;
        height: 7px;
        background-color: rgb(255, 255, 255);
        margin: 7px;
        margin-bottom: 20%;
        border-radius: 20%;
        transition: all 1s;
    }
    
    .crossed_line #line_2 {
        transform: rotate(90deg) translate(-5px, -6px);
        
    }
    
    .crossed_line #line_1 {
        transform: rotate(110deg) translate(20px, 0px);
    }
    
 
    
    #burger {
        margin-right: 62px;
        cursor: pointer;

    }


#link_list {
    grid-area: liH;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    position: relative;
    top: -60px;


}

.footer_Home {
    width:  100%;
    grid-area: foH;
    background-size: 25%;
}

.section_1_Home {
    width: 100%;
    grid-area: s1H;
    background-size: 100%;
    
}

.section_2_Home {
    width: 100%;
    grid-area: s2H;
    background-size: 100%;
}

.section_3_Home {
    width: 100%;
    grid-area: s3H;
    background-size: 100%;
    background-image: image()
}

.GridWrapper_about {

    width: 100vw;
    display: grid;
    height: 100vh;
   grid-template-areas:

   "hea hea hea hea"
   "lia lia lia lia"
   "s1a s1a s1a s1a"
   "s2a s2a s2a s2a"
   "s3a s3a s3a s3a"
   "foa foa foa foa"
;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1, 1, 1, 1, 1;
grid-gap: 0px;

}

.header_about {
    grid-area: hea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
}

#link_list {
    grid-area: lia;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    position: relative;
    top: -60px;
}

.footer_about {
    grid-area: foa;
    background-size: 25%;
}

.section_1_about {
    grid-area: s1a;
    background-size: 100%;
}
    
.section_2_about {
        grid-area: s2a;
        background-size: 100%;
}
    
.section_3_about {
        grid-area: s3a;
        background-size: 100%;
}

.GridWrapper_Recs {

    width: 100vw;
    display: grid;
    height: 100vh;
    background-color: black;
   grid-template-areas:

   "heo heo heo heo"
   "s1o s1o s1o s1o"
   "s2o s2o s2o s2o"
   "foo foo foo foo"
;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1, 1, 1, 1, 1;
grid-gap: 4px;
background-color: black;

}

.header_Recs {
    grid-area: heo;
    background: rgb(36, 28, 28);
    height: 100px;
    display: flex;

    align-items: center;
    
}

.footer_Recs {
    grid-area: foo;
    background-image:url(/WU_2A_ProjektHT21/img/matt-hoffman-72qDM1TA5p8-unsplash.jpg);
}

.section_1_Recs {
    grid-area: s1o;
    background-image:url(/WU_2A_ProjektHT21/img/matt-hoffman-AYdJM-HiSUM-unsplash.jpg);
    background-size: 1670px;
    
}

.section_2_Recs {
    grid-area: s2o;
    background-image:url(/WU_2A_ProjektHT21/img/matt-hoffman-72qDM1TA5p8-unsplash.jpg);
    background-size: 1670px;
}
